* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "GT Walsheim";
  background-color: #dee4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  z-index: -100;
}

body #circle1 {
  background: #eff2ff;
  top: 20%;
  left: 40%;
  animation: circle1-anim 16s alternate-reverse infinite linear;
}

body #circle2 {
  background: #f5f7ff;
  top: 50%;
  left: 10%;
  animation: circle2-anim 12s alternate-reverse infinite linear;
}

body #circle3 {
  width: 200px;
  height: 200px;
  background: #eff2ff;
  bottom: 10%;
  left: 40%;
  animation: circle3-anim 10s alternate-reverse infinite linear;
}

@-webkit-keyframes circle1-anim {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(60%, 30%);
            transform: translate(60%, 30%);
  }
}

@keyframes circle1-anim {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(60%, 30%);
            transform: translate(60%, 30%);
  }
}

@-webkit-keyframes circle2-anim {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(20%, 60%);
            transform: translate(20%, 60%);
  }
}

@keyframes circle2-anim {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(20%, 60%);
            transform: translate(20%, 60%);
  }
}

@-webkit-keyframes circle3-anim {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
}

@keyframes circle3-anim {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
}

main {
  width: 30%;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 300px;
}

main h2 {
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
}

main .today-date {
  margin-bottom: 2.5rem;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
}

main article {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  background-color: #f7f9ff;
}

main article.main-weather {
  width: 100%;
  border-radius: 10px;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main article.main-weather .temp {
  font-size: 3rem;
}

main article.main-weather .weather-desc {
  font-size: 1.5rem;
  text-align: center;
}

main article.today-next-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 3%;
  overflow-x: scroll;
}

main article.today-next-weather .next-weather {
  margin-right: 10%;
}

main article.today-next-weather .next-weather:last-child {
  padding-right: 10px;
}

main #style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

main #style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

main #style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dee4ff;
}
/*# sourceMappingURL=style.css.map */