
@font-face {
  font-display: swap;
  font-family: "GT Walsheim";
  font-style: normal;
  font-weight: 500;
  src: url("BwModelica-Medium.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "GT Walsheim";
    font-style: normal;
    font-weight: 400;
    src: url("BwModelica-Regular.woff2") format("woff2");
  }


  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');